In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
     ---------------------------------------- 11.6/11.6 MB 3.5 MB/s eta 0:00:00
Collecting numpy<2,>=1.23.2
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
     ---------------------------------------- 15.8/15.8 MB 2.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dellf\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     -------------------------------------- 505.5/505.5 kB 3.2 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     -------------------------------------- 345.4/345.4 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\dellf\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\dellf\appdata\local\programs\python\python311\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv(r"C:\Users\dellf\OneDrive\Desktop\apple_quality.csv")

In [14]:
df = pd.read_csv(r"C:\Users\dellf\OneDrive\Desktop\apple_quality.csv")
df.head(5)

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0.0,-3.970049,-2.512336,5.346330,-1.012009,1.844900,0.329840,-0.491590483,good
1,1.0,-1.195217,-2.839257,3.664059,1.588232,0.853286,0.867530,-0.722809367,good
2,2.0,-0.292024,-1.351282,-1.738429,-0.342616,2.838636,-0.038033,2.621636473,bad
3,3.0,-0.657196,-2.271627,1.324874,-0.097875,3.637970,-3.413761,0.790723217,good
4,4.0,1.364217,-1.296612,-0.384658,-0.553006,3.030874,-1.303849,0.501984036,good

In [15]:
to_drop = ['Crunchiness']
df.drop(to_drop, inplace=True, axis=1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   A_id       4000 non-null   float64
 1   Size       4000 non-null   float64
 2   Weight     4000 non-null   float64
 3   Sweetness  4000 non-null   float64
 4   Juiciness  4000 non-null   float64
 5   Ripeness   4000 non-null   float64
 6   Acidity    4001 non-null   object
 7   Quality    4000 non-null   object
dtypes: float64(6), object(2)
memory usage: 250.2+ KB

In [17]:
df.loc[100]

A_id               100.0
Size           -1.581379
Weight         -0.759501
Sweetness        0.13536
Juiciness       1.998052
Ripeness        0.729362
Acidity      0.286883321
Quality             good
Name: 100, dtype: object

In [18]:
df.tail()

,A_id,Size,Weight,Sweetness,Juiciness,Ripeness,Acidity,Quality
3996,3996.0,-0.293118,1.949253,-0.204020,0.024523,-1.087900,1.854235285,good
3997,3997.0,-2.634515,-2.138247,-2.440461,2.199709,4.763859,-1.334611391,bad
3998,3998.0,-4.008004,-1.779337,2.366397,2.161435,0.214488,-2.229719806,good
3999,3999.0,0.278540,-1.715505,0.121217,1.266677,-0.776571,1.599796456,good
4000,NaN,NaN,NaN,NaN,NaN,NaN,Created_by_Nidula_Elgiriyewithana,NaN

In [19]:
df.isnull()

       A_id   Size  Weight  Sweetness  Juiciness  Ripeness  Acidity  Quality
0     False  False   False      False      False     False    False    False
1     False  False   False      False      False     False    False    False
2     False  False   False      False      False     False    False    False
3     False  False   False      False      False     False    False    False
4     False  False   False      False      False     False    False    False
...     ...    ...     ...        ...        ...       ...      ...      ...
3996  False  False   False      False      False     False    False    False
3997  False  False   False      False      False     False    False    False
3998  False  False   False      False      False     False    False    False
3999  False  False   False      False      False     False    False    False
4000   True   True    True       True       True      True    False     True

[4001 rows x 8 columns]

In [20]:
df.loc[df.duplicated(keep=False)]

Empty DataFrame
Columns: [A_id, Size, Weight, Sweetness, Juiciness, Ripeness, Acidity, Quality]
Index: []

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   A_id       4000 non-null   float64
 1   Size       4000 non-null   float64
 2   Weight     4000 non-null   float64
 3   Sweetness  4000 non-null   float64
 4   Juiciness  4000 non-null   float64
 5   Ripeness   4000 non-null   float64
 6   Acidity    4001 non-null   object
 7   Quality    4000 non-null   object
dtypes: float64(6), object(2)
memory usage: 250.2+ KB